@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(/style/about-me.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-list {
    padding-left: 120px;
    padding-top: 68px;
    display: flex;
    gap: 4rem;
    list-style-type: none;
    color: #7209b7;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.page {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.active {
    font-weight: 800;
    color: #7209b7;
}

main {
    padding-left: 120px;
    display: flex;
    gap: 10rem;
    align-items: center;
}

.introduce {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 40%;
}

.introduce p {
    text-align: justify;
}

.title {
    text-align: center;
}

.title h1 {
    font-size: 3rem;
}

.title h2 {
    font-size: 1.5rem;
    color: #7209b7;
}

.social-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.social-links li {
    border: 2px;
}

.about-me {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
    text-align: justify;
    padding: 1rem 1.4rem;
    border: 2px solid rgb(63, 63, 63);
}

.about-me h1 {
    font-size: 3rem;
}

.about-me p {
    font-weight: 300;
}

.about-me-image {
    width: 25rem;
    border-radius: 50%;
    border: 2px solid rgba(208, 208, 208, 0.552);
    height: fit-content;
}

footer {
    margin-top: 3rem;
    padding-top: 1rem;
    background-color: rgb(72, 22, 120);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

footer ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    margin-bottom: 1rem;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    
    body {
        justify-content: center;
    }

    .navbar-list {
        justify-content: center;
        padding-left: 0;
        padding-top: 40px;
        margin-bottom: 0;
    }

    main {
        margin-top: 0;
        flex-direction: column-reverse;
        padding-left: 0;
        gap: 0;
    }

    .about-me-image {
        width: 18rem;
    }

    .about-me {
        width: 70%;
        height: 50px;
        overflow-y: auto;
    }

    .about-me h1 {
        text-align: center;
    }

    .about-me p {
        font-size: 1.2rem;
    }

}
